{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
  <h1>Личный кабинет</h1>
  <div class="profile-header d-flex align-items-center mb-4">
    {% if user.photo %}
      <img src="{{ user.photo.url }}" alt="Фото профиля" class="img-fluid profile-photo mr-4">
    {% else %}
      <div class="placeholder-photo mr-4">Нет фото</div>
    {% endif %}
    <div class="profile-info">
      <p class="profile-name"><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
      <p class="profile-email"><strong>Электронная почта:</strong> {{ user.email }}</p>
      <p class="profile-phone"><strong>Телефон:</strong> {{ user.phone_number }}</p>
    </div>
  </div>
  <h4>Мои заказы:</h4>
  {% if orders %}
    <div class="orders-table">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 10%;"></th>
            <th style="width: 15%;">Техника</th>
            <th style="width: 15%;">Начало аренды</th>
            <th style="width: 15%;">Окончание аренды</th>
            <th style="width: 30%;">Комментарий</th>
            <th style="width: 10%;">Стоимость</th>
            <th style="width: 10%;">Статус</th>
            <th style="width: 5%;"></th>
          </tr>
        </thead>      
        <tbody>
          {% for order in orders %}
          <tr>
            <td>
              <a href="{{ order.technique.get_absolute_url }}">
                <img src="{{ order.technique.image.url }}" alt="{{ order.technique.name }}" class="img-thumbnail" width="70">
              </a>
            </td>
            <td><a href="{{ order.technique.get_absolute_url }}" class="technique-link">{{ order.technique.name }}</a></td>
            <td>{{ order.start_date }}</td>
            <td>{{ order.end_date }}</td>
            <td>{{ order.additional_requirements }}</td>
            <td>{{ order.total_cost }} ₽</td>
            <td>{{ order.get_status_display }}</td>
            <td>
              {% if order.status == 'accepted' %}
                <button type="button" class="btn btn-link p-0" style="color:red;" data-toggle="modal" data-target="#confirmDeleteModal{{ order.id }}">
                  <img src="{% static 'img/free-icon-delete.png' %}" alt="Удалить" width="20">
                </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="order-cards">
      {% for order in orders %}
      <div class="order-card d-flex align-items-start">
        <a href="{{ order.technique.get_absolute_url }}" class="order-card-image">
          <img src="{{ order.technique.image.url }}" alt="{{ order.technique.name }}" class="img-thumbnail" width="100">
        </a>
        <div class="order-card-content ml-3">
          <h5><a href="{{ order.technique.get_absolute_url }}" class="technique-link">{{ order.technique.name }}</a></h5>
          <p><strong>Начало:</strong> {{ order.start_date }}</p>
          <p><strong>Окончание:</strong> {{ order.end_date }}</p>
          <p><strong>Комментарий:</strong> {{ order.additional_requirements }}</p>
          <p><strong>Стоимость:</strong> {{ order.total_cost }} ₽</p>
          <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
          {% if order.status == 'accepted' %}
            <div>
              <button type="button" class="btn btn-dark text-white" data-toggle="modal" data-target="#confirmDeleteModal{{ order.id }}">Удалить</button>
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>    
    <!-- Модальные окна для подтверждения удаления -->
    {% for order in orders %}
    <div class="modal fade" id="confirmDeleteModal{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Вы уверены, что хотите удалить заказ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            <form action="{% url 'orders:delete_order' order.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Да</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <p>У вас пока нет заказов.</p>
  {% endif %}
  <div class="text-center">
    <a href="{% url 'profile_update' %}" class="btn btn-dark text-white mt-5">Управление профилем</a>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}