{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
  <h1>Личный кабинет</h1>
  {% if user.photo %}
    <img src="{{ user.photo.url }}" alt="Фото профиля" class="img-fluid rounded-circle mb-3" width="150">
  {% else %}
    <p>Фото Вашего профиля пока что не загружено.</p>
  {% endif %}
  <p><strong>Имя:</strong> {{ user.first_name }}</p>
  <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
  <p><strong>Электронная почта:</strong> {{ user.email }}</p>
  <p><strong>Телефон:</strong> {{ user.phone_number }}</p>
  {% if orders %}
    <table class="table">
      <thead>
        <tr>
          <th>Фото</th>
          <th>Техника</th>
          <th>Дата начала аренды</th>
          <th>Дата окончания аренды</th>
          <th>Статус</th>
          <th>Общая стоимость</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>
            {% if order.technique.image %}
              <img src="{{ order.technique.image.url }}" alt="Миниатюра" class="img-thumbnail" width="70">
            {% else %}
              <img src="{% static 'img/no_image_available.jpg' %}" alt="Нет изображения" class="img-thumbnail" width="70">
            {% endif %}
          </td>
          <td>{{ order.technique.name }}</td>
          <td>{{ order.start_date }}</td>
          <td>{{ order.end_date }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.total_cost }} ₽</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>У вас пока нет заказов.</p>
  {% endif %}
  <a href="{% url 'profile_update' %}" class="btn btn-dark text-white mt-3">Управление профилем</a>
{% endblock %}
