/* Центрирование и стили для блока "О нас" */
.about {
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  padding: 10px; /* Внутренние отступы */
  background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
  border-radius: 15px; /* Закруглённые углы */
}

/* Для текста внутри */
.about h1 {
  text-align: center;
  font-size: 3rem; /* Увеличенный размер шрифта */
  font-family: "Gentium Book Plus", serif;
  background: linear-gradient(to bottom, rgb(170, 255, 33), black); /* Градиент от зелёного к чёрному */
  background-clip: text; /* Стандартное свойство */
  -webkit-background-clip: text; /* Для браузеров WebKit */
  -webkit-text-fill-color: transparent; /* Делаем текст прозрачным для WebKit */
  text-fill-color: transparent; /* Для совместимости с другими браузерами */
}

/* Настройки для экранов уже 576px */
@media (max-width: 576px) {
  .about h1 {
    font-size: 2rem; /* Уменьшаем размер шрифта */
  }
}

.about p {
  font-size: 2rem; /* Размер шрифта для текста */
  text-align: center; /* Текст по центру */
  color: #333;
  font-family: "Gentium Book Plus", serif;
}

/* Настройки для экранов уже 576px */
@media (max-width: 576px) {
  .about p {
    font-size: 1.4rem; /* Уменьшаем размер шрифта */
  }
}

/* Настройки для экранов уже 446px */
@media (max-width: 446px) {
  .about p {
    font-size: 1.1rem; /* Уменьшаем размер шрифта */
  }
}