/* Общий стиль для футера */
.footer {
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
    text-align: center;
    line-height: 100px; /* Центрирование текста по вертикали */
    width: 100%; /* Футер занимает всю ширину экрана */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Тень для футера */
    margin-top: auto; /* Для прилипания к низу страницы */
    color: #ffffff;
}