/* Общий фон для содержимого main */
main.container {
  background-color: rgba(255, 255, 255, 0.7); /* Белый полупрозрачный фон */
  border-radius: 8px; /* Сглаженные углы */
  padding: 20px; /* Внутренние отступы для более приятного оформления */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Лёгкая тень для выделения */
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-info {
  font-size: 1.2rem;
  line-height: 1.5;
}

.profile-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  object-fit: cover;
  border: 3px solid #ddd;
  margin-right: 20px;
}

.placeholder-photo {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1rem;
  text-align: center;
  margin-right: 20px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-photo, .placeholder-photo {
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
  }

  .profile-info {
    font-size: 1rem;
  }

  .profile-name {
    font-size: 1.2rem;
  }
}

.technique-link {
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }

/* Стили для отображения таблицы на больших экранах */
@media (min-width: 992px) {
  .order-cards {
    display: none;
  }
}

/* Стили для отображения карточек на экранах меньше 992px */
@media (max-width: 991px) {
  .orders-table {
    display: none;
  }
  
  .order-card h5 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
}

/* Стили для карточек заказов */
.order-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-card-image img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.order-card-content {
  flex: 1;
  margin-left: 15px;
}

.order-card p {
  margin-bottom: 0.5rem;
}
