{% load static %}
<div class="container d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="{% static 'img/logo.png' %}" width="96" height="54" class="d-inline-block align-top" alt="">
  </div>
  <div class="col-md-2 offset-md-4">
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'auth:logout' %}">
        {% csrf_token %}
        <button class="btn btn-primary">Выйти</button>
      </form>
      <button class="btn btn-primary">
        <a class="nav-link link-light {% if view_name  == 'profile:profile' %} active {% endif %}" href="{% url 'profile:profile' %}">Личный кабинет</a>
      </button>
    {% else %}
      <button class="btn btn-primary">
        <a class="nav-link link-light {% if view_name  == 'auth:login' %} active {% endif %}" href="{% url 'auth:login' %}">Войти</a>
      </button>
      <button class="btn btn-primary">
        <a class="nav-link link-light {% if view_name  == 'auth:signup' %} active {% endif %}" href="{% url 'auth:signup' %}">Регистрация</a>
      </button>
    {% endif %}
  </div>
</div>