{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}
<div class="header-container d-flex justify-content-between align-items-center flex-wrap">
  <div class="container d-flex justify-content-between align-items-center flex-wrap">
    <div class="d-flex align-items-center">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" width="150" class="d-inline-block align-top" alt="Логотип">
      </a>
    </div>
    <div class="contact-info d-flex align-items-center">
      <p class="m-0 me-4">
        <i class="fas fa-phone-alt me-1"></i>
        <a href="tel:+79271032544">+7-927-103-25-44</a>
      </p>
      <p class="m-0">
        <i class="fas fa-envelope me-1"></i>
        <a href="mailto:nnk@ннк-сервис.рф">nnk@ннк-сервис.рф</a>
      </p>
    </div>
    <div class="d-flex align-items-center">
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="/admin/" class="btn btn-dark text-white me-2">Админка</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="btn btn-dark text-white me-2">Профиль</a>
        <form method="post" action="{% url 'logout' %}" class="m-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark text-white">Выйти</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-dark text-white me-2">Войти</a>
        <a href="{% url 'signup' %}" class="btn btn-dark text-white">Регистрация</a>
      {% endif %}
    </div>
  </div>
</div>