  <div class="container">
    <!-- Кнопка для мобильного меню (гамбургер-меню) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Ссылки навигации, которые прячутся в мобильном меню -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:services' %}">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'services:contacts' %}">Контакты</a>
        </li>
      </ul>
    </div>
  </div>