{% extends 'base.html' %}
{% block title %}Оформить заказ{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title text-center">Оформить заказ</h1>
          <form method="post">
            {% include 'includes/forms.html' %}
            <button type="submit" class="btn btn-dark w-100 mt-4">Отправить заказ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}