{% load static %}
<div class="row mb-5" style="background-image: url('{% static 'img/background.jpg' %}'); background-size: cover; background-position: center;">
  <div class="col-md-4">
    <h2>О компании</h2>
    <p>За годы непрерывной работы компания
      <br/>ООО «ННК-Сервис» зарекомендовала себя
      <br/>на рынке услуг как надежный и порядочный партнер. С 2014 года мы предоставляем спецтехнику в аренду в Самарской и других областях. 
      Все виды спецтранспорта для промышленного и гражданского строительства: 
      автовышки, манипуляторы, экскаваторы, ямобуры, погрузчики и др.
      <br/>Работаем с частными и юридическими лицами.</p>
  </div>
</div>