{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
<div class="row mb-5" style="background-image: url('{% static 'img/background.jpg' %}'); background-size: cover; background-position: center;">
  <div class="col-md-4">
    <h2>О нас</h2>
    <p>ООО «ННК-Сервис» специализируется на аренде надёжного грузового транспорта и спецтехники для любых задач.
      <br/>Мы предлагаем гибкие условия и индивидуальный подход, обеспечивая вас необходимыми ресурсами для успешной работы.
      <br/>Гарантируем качество, безопасность и своевременное выполнение заказов независимо от масштаба проекта.</p>
  </div>
</div>