{% load static %}
<div class="row mb-5">
  <div class="col-md-4">
    <h2>О компании</h1>
    <p>За годы непрерывной работы компания ООО «ННК-Сервис» зарекомендовала себя на рынке услуг как надежный и порядочный партнер.
      С 2013 года мы предоставляем спецтехнику в аренду в Самаре и области и области. 
      Все виды спецтранспорта для промышленного и гражданского строительства: 
      автовышки, манипуляторы, экскаваторы, ямобуры, погрузчики и др. 
      Работаем с частными и юридическими лицами.</p>
  </div>
  <div class="col-md-8 text-right">
    <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="Responsive image">
  </div>
</div>