<div class="mt-5 d-flex justify-content-between align-items-start flex-wrap">
  <div class="me-4 mb-3">
    <br>
    <a href="tel:+79271032544" class="btn btn-dark text-white mb-2" style="display: inline-flex; align-items: center;">
      <i class="fas fa-phone-alt fa-lg me-2"></i> Позвонить нам
    </a>
    <br>
    <a href="mailto:nnk@ннк-сервис.рф" class="btn btn-dark text-white mb-2" style="display: inline-flex; align-items: center;">
      <i class="fas fa-envelope fa-lg me-2"></i> Написать на почту
    </a>
    <br>
    <a href="https://t.me/nnk_service" target="_blank" class="btn btn-dark text-white mb-2" style="display: inline-flex; align-items: center;">
      <i class="fab fa-telegram fa-lg me-2"></i> Подписаться на наш канал
    </a>
    <br>
    <a href="https://t.me/chat_nnk_service" target="_blank" class="btn btn-dark text-white" style="display: inline-flex; align-items: center;">
      <i class="fab fa-telegram fa-lg me-2"></i> Перейти в чат
    </a>
  </div>
  <div style="width: 100%; max-width: 560px;">
    <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=151278336386" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen></iframe>
  </div>
</div>