{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}
<div class="my-4">
  <div class="row">
    {% for unit in technique %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <a href="{% url 'technique_detail' unit.id %}" class="text-decoration-none text-dark">
          <div class="card h-100">
            {% if unit.image %}
              <img src="{{ unit.image.url }}" class="card-img-top" alt="{{ unit.name }}">
            {% else %}
              <div class="card-img-top bg-light text-center py-5">
                <p>No image available</p>
              </div>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ unit.name }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>