{% extends 'base.html' %}
{% load static %}
{% block title %}Аренда {{ technique.name_genitive }}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/technique_detail.css' %}">
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="main-photo-wrapper position-relative mb-3">
          <img id="main-photo" src="{{ technique.image.url }}" class="d-block w-100" alt="{{ technique.name }}">
          <button id="prev-photo" class="carousel-control-prev position-absolute" type="button">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button id="next-photo" class="carousel-control-next position-absolute" type="button">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="miniature-carousel-wrapper position-relative">
          <button id="prev-thumbnail" class="carousel-control-prev position-absolute" type="button">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <div class="miniature-carousel d-flex justify-content-start overflow-hidden">
            {% for photo in technique.photos.all %}
              <button type="button" class="miniature-btn mx-1" data-photo="{{ photo.photo.url }}">
                <img src="{{ photo.photo.url }}" class="img-thumbnail" alt="{{ technique.name }}">
              </button>
            {% endfor %}
          </div>
          <button id="next-thumbnail" class="carousel-control-next position-absolute" type="button">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>        
      </div>
      <div class="col-md-6">
        <h1>{{ technique.name }}</h1>
        <p>{{ technique.description }}</p>
        <ul class="list-group">
          <li class="list-group-item"><strong>Вес:</strong> {{ technique.weight }} т.</li>
          <li class="list-group-item"><strong>Мощность:</strong> {{ technique.power }} л.с.</li>
          <li class="list-group-item"><strong>Габариты:</strong> {{ technique.dimensions }}</li>
          <li class="list-group-item"><strong>Тип топлива:</strong> {{ technique.fuel_type }}</li>
          <li class="list-group-item"><strong>Грузоподъемность:</strong> {{ technique.capacity }} т.</li>
          <li class="list-group-item"><strong>Стоимость аренды:</strong> {{ technique.daily_rate }} руб./день</li>
          <li class="list-group-item"><strong>Стоимость аренды:</strong> {{ technique.hourly_rate }} руб./час</li>
        </ul>
        {% if is_authenticated %}
          <button 
            class="btn btn-dark text-white mt-3" 
            onclick="openModal('{% url 'orders:ajax_order_form' technique.id %}'); return false;">
            Заказать
          </button>
        {% else %}
          <button class="btn btn-dark text-white mt-3" onclick="openModal('{% url 'login' %}?next={{ request.path }}'); return false;">Войти и заказать</button>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/technique_detail.js' %}"></script>
{% endblock %}